body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: url(./img/bg2.jpg) #f3f3f3;
    background-attachment: fixed;
}

@media (orientation: landscape) {
    #welcome {
        background: url(./img/anp1.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 0;
        padding-top: 100vh;
        position: relative;
    }
    
    #welcome__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 1em;
        bottom: 1em;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #000;
        font-size: 2em;
        text-shadow: 0 0 5px #e6e6e6;
    }
    
    #welcome__content > div {
        max-width: 50%;
    }
    
    #pic {
        background: url(./img/an8.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 0;
        padding-top: 100vh;
        position: relative;
    }
    
    #pic__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #f3f3f3;
        font-size: 2em;
    }
    
    .welcome__content--hightligh {
        font-size: 3em;
        font-weight: bold;
        line-height: 1em;
    }
    
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        color: #FFF;
        margin: 1em 2em;
        font-size: 2em;
        text-shadow: 1px 1px 3px black;
    }
    
    .menu li {
        display: inline;
        margin-left: 2em;
        cursor: pointer;
    }
    
    .confirmation {
        position: fixed;
        bottom: 0;
        right: 0;
        background: #f3f3f3;
        margin: 1em;
        padding: 2em;
        border-radius: 2px;
        border: 0.2empx solid #d6d6d6;
    }
}

@media (orientation: portrait) {
    #welcome {
        background: url(./img/anp1.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 0;
        padding-top: 100vh;
        position: relative;
        background-position: center;
    }
    
    #welcome__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* backdrop-filter: grayscale(147%) blur(1px); */
        font-size: 1em;
        text-shadow: 0 0 5px #e6e6e6;
    }
    
    .welcome__content--hightligh {
        font-size: 2em;
        font-weight: bold;
        line-height: 1rem;
    }

    #pic {
        background: url(./img/an8.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:  center;
        height: 0;
        padding-top: 100vh;
        position: relative;
    }
    
    #pic__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #f3f3f3;
        font-size: 1em;
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        color: #FFF;
        margin: 1em 1em;
        font-size: 1em;
        text-shadow: 1px 1px 3px black;
    }
    
    .menu ul{
        padding: 0;
    }
    
    .menu li {
        display: inline;
        margin-left: 1em;
        cursor: pointer;
    }
    
    .confirmation {
        position: fixed;
        top: 34px;
        background: #f3f3f3;
        margin: 1em;
        padding: 1em;
        border-radius: 2px;
        border: 0.2empx solid #d6d6d6;
        font-size: 80%;
    }
}

.menu a:visited, .menu a {
    color: #FFF;
    text-decoration: none;
} 



.parents__pic--mother{
    background: url(./img/mo1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    padding-top: 50%;
    width: 50%;
    margin: 0 auto;
}

.parents__pic--father {
    background: url(./img/fa1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    padding-top: 50%;
    width: 50%;
    margin: 0 auto;
}

.cursive-font {
    font-family: 'Great Vibes', cursive;
}

#galery h1 {
    text-align: center;
}

#parents {
    margin: 5em 0;
}
#parents h1 {
    margin-bottom: 3em;
}

#parents .container {
    text-align: center;
    font-size: 4em;
}

#map {
    padding: 4em 0;
}

#map h1 {
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
    text-decoration: underline;
    font-size: 2em;
}

#map__content-text {
    margin: 2em 0;
    background: #ffffffb8;
    padding: 1em;
    border-radius: 5px;
    text-align: center;
}

#gallery {
    background: #191919;
    color: #d6d6d6;
}

#gallery h1 {
    text-align: center;
}

.separator {
    height: 30px;
    margin: -15px;
    background: url(./img/line.png);
    z-index: 2;
    position: relative;
}

/* #gallery ul {
    display: flex;
    flex-wrap: wrap;
}

#gallery li {
    height: 25vh;
    flex-grow: 1;
    list-style: none;
    margin: 0.5em;
}
/* 
#gallery img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
} */

/* @media (max-aspect-ratio: 1/1) {
    #gallery li {
        height: 30vh;
    }
}

@media (max-height: 480px) {
    #gallery li {
        height: 80vh;
    }
}  */

/* @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    #gallery ul {
        flex-direction: row;
    }
    
    #gallery li {
        height: auto;
        width: 100%;
    }
    #gallery img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
} */

.splide__list img {
    height: 500px;
}

.bg1 {
    background: url(./img/bg1.jpg);
    background-size: cover;
}

.close{
    width: 22px;
    height: 22px;
    top: -2px;
    position: absolute;
    right: -5px;
    border-radius: 10px;
    padding: 0px 4px;
    font-weight: bolder;
    
}

.nonvisible {
    transition: opacity 0.5s ease-out;
    opacity: 0;
}
 
.visible {
    transition: opacity 0.5s ease-out;
    opacity: 1;
}


/* nav toggle */
.nav-toggle {
    cursor: pointer;
    height: 2rem;
    right: 2rem;
    position: fixed;
    top: 2rem;
    width: 3.6rem;
    z-index: 10;
  }
  .nav-toggle:hover {
    opacity: 0.8;
  }
  .nav-toggle .nav-toggle-bar,
  .nav-toggle .nav-toggle-bar::after,
  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #000;
    content: "";
    height: 0.4rem;
    transition: all 0.5s;
    width: 100%;
  }
  .nav-toggle .nav-toggle-bar {
    margin-top: 0;
  }
  .nav-toggle .nav-toggle-bar::after {
    margin-top: 0.8rem;
  }
  .nav-toggle .nav-toggle-bar::before {
    margin-top: -0.8rem;
  }
  .nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
  }
  .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: #000;
    margin-top: 0;
  }
  .nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  /* nav */
  .nav {
    background: #c3dfedd9;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    height: 100vh;
    right: -20rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    transition: right 0.5s;
    width: 20rem;
    z-index: 5;
  }
  .nav.expanded {
    right: 0;
  }
  .nav ul {
    list-style: none;
    margin: auto 0;
    padding: 0;
  }

  .nav a {
    color: #000;
    text-decoration: none;
  }